.subheading{data: {'message-id': "#{message.id}"}}
  %h1 
    = message.user.name
  %p
    = message.created_at.in_time_zone("UTC").in_time_zone("Tokyo").strftime("%Y/%m/%d %H:%M")
- if message.content.present?
  %p.message 
    = message.content
= image_tag message.image.url, class: 'lower-message__image' if message.image.present?