/.breakingnews
/  %p ログインしました
.wrapper
  .wrapper__side
    .wrapper__side__head
      %h1
        = current_user.name
      %ul
        %li
          = link_to new_group_path do
            = fa_icon 'pencil-square-o'
        %li
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog'
    .wrapper__side__cont
      .wrapper__side__cont__inner
        %p.group グループ名
        %p.message 投稿タイトル
        %p.group グループ名
        %p.message 投稿タイトル
        %p.group グループ名
        %p.message 投稿タイトル
        %p.group グループ名
        %p.message 投稿タイトル
        %p.group グループ名
        %p.message 投稿タイトル
        %p.group グループ名
        %p.message 投稿タイトル
        %p.group グループ名
        %p.message 投稿タイトル
        %p.group グループ名
        %p.message 投稿タイトル
        %p.group グループ名
        %p.message 投稿タイトル
        %p.group グループ名
        %p.message 投稿タイトル
        %p.group グループ名
        %p.message 投稿タイトル
        %p.group グループ名
        %p.message 投稿タイトル
        %p.group グループ名
        %p.message 投稿タイトル
  .wrapper__main
    .wrapper__main__head
      .wrapper__main__head__title
        %h1 ATestGroup-1
        %p Member：aaaaaaaa
      .wrapper__main__head__button
        %a{href: ""} Edit
    .wrapper__main__cont
      %section
        %article
          .subheading
            %h1 aaaaaaaa
            %p 2019/05/04(Sat) 15:39:27
          %p.message texttexttexttexttext
          .subheading
            %h1 aaaaaaaa
            %p 2019/05/04(Sat) 15:39:27
          %p.message texttexttexttexttext
          .subheading
            %h1 aaaaaaaa
            %p 2019/05/04(Sat) 15:39:27
          %p.message texttexttexttexttext
          .subheading
            %h1 aaaaaaaa
            %p 2019/05/04(Sat) 15:39:27
          %p.message texttexttexttexttext
          .subheading
            %h1 aaaaaaaa
            %p 2019/05/04(Sat) 15:39:27
          %p.message texttexttexttexttext
          .subheading
            %h1 aaaaaaaa
            %p 2019/05/04(Sat) 15:39:27
          %p.message texttexttexttexttext
    .wrapper__main__foot
      %form
        .form_input
          .form_text
            %input{type: "text", placeholder: "type a message"}
          .form_file
            %label.upload-label{for: "upload-icon"}
              %i.fa.fa-picture-o
              %input{type: "file", id: "upload-icon", style: "display:none;"}
        .form_button
          %input{type: "submit",value: "Send"}