.wrapper
  = render "shared/side_bar" 
  .wrapper__main
    .wrapper__main__head
      .wrapper__main__head__title
        %h1
          = @group.name
        %p
          Member：
          = current_user.name
      .wrapper__main__head__button
        = link_to edit_group_path(@group.id) do
          Edit
    .wrapper__main__cont
      = render @messages
    .wrapper__main__foot
      = form_for [@group, @message], html: { multipart: true } do |f|
        .form_input
          .form_text
            = f.text_field :content, placeholder: 'type a message'
          .form_file
            = f.label :image, class: 'upload-label' do
              = fa_icon 'picture-o'
              = f.file_field :image, {style: "display:none;"}
        .form_button
          = f.submit 'Send'